@media all and (min-width: 800px) {
  .sidebar {
    background: #fff;
    position: fixed;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 0;
  }
  .sidebar .nav-clapse {
    display: none;
  }
  .sidebar .head {
    height: 300px;
  }
  .sidebar .head img {
    margin-top: 86px;
    width: 128px;
    height: 128px;
    border-radius: 300px;
  }
  .content-container {
    background: #ddd;
    position: absolute;
    min-height: 100%;
    right: 0;
    left: 300px;
  }
  .content-container .content {
    margin: 40px;
    background: #fff;
    padding: 20px;
    border: 1px solid #d8d8d8;
  }
  .content-container .archives .archive-item {
    width: 90%;
    margin: auto;
  }
  .content-container .archives .nav-link:hover {
    background: #eaeaea;
  }
  .content article {
    width: 90%;
    margin: auto;
  }
  .read-more {
    background: #8cc2fb;
    border-radius: 2em;
    padding: 6px;
    color: #fff;
  }
  .read-more:hover {
    text-decoration: none;
    color: #fff;
    background: #5398fb;
  }
  #title {
    color: #000;
  }
  #title:hover {
    text-decoration: none;
    color: #000;
  }
  .content-container footer {
    position: absolute;
    bottom: 0;
    font-size: 1.25em;
    left: 0;
    right: 0;
  }
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  .hljs-comment,
  .hljs-quote {
    color: #998;
    font-style: italic;
  }
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-subst {
    color: #333;
    font-weight: bold;
  }
  .hljs-number,
  .hljs-literal,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag .hljs-attr {
    color: #008080;
  }
  .hljs-string,
  .hljs-doctag {
    color: #d14;
  }
  .hljs-title,
  .hljs-section,
  .hljs-selector-id {
    color: #900;
    font-weight: bold;
  }
  .hljs-subst {
    font-weight: normal;
  }
  .hljs-type,
  .hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
  }
  .hljs-tag,
  .hljs-name,
  .hljs-attribute {
    color: #000080;
    font-weight: normal;
  }
  .hljs-regexp,
  .hljs-link {
    color: #009926;
  }
  .hljs-symbol,
  .hljs-bullet {
    color: #990073;
  }
  .hljs-built_in,
  .hljs-builtin-name {
    color: #0086b3;
  }
  .hljs-meta {
    color: #999;
    font-weight: bold;
  }
  .hljs-deletion {
    background: #fdd;
  }
  .hljs-addition {
    background: #dfd;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: bold;
  }
  .code pre,
  .gutter pre {
    margin-bottom: 0;
  }
  .gutter pre {
    padding-right: 20px;
    text-align: right;
  }
  code {
    background: #fafafa;
    padding: 2px;
    border-radius: 3px;
    color: #d05;
    border: 1px solid #ddd;
  }
}
@media all and (max-width: 800px) {
  body {
    background: #ddd;
  }
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  .hljs-comment,
  .hljs-quote {
    color: #998;
    font-style: italic;
  }
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-subst {
    color: #333;
    font-weight: bold;
  }
  .hljs-number,
  .hljs-literal,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag .hljs-attr {
    color: #008080;
  }
  .hljs-string,
  .hljs-doctag {
    color: #d14;
  }
  .hljs-title,
  .hljs-section,
  .hljs-selector-id {
    color: #900;
    font-weight: bold;
  }
  .hljs-subst {
    font-weight: normal;
  }
  .hljs-type,
  .hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
  }
  .hljs-tag,
  .hljs-name,
  .hljs-attribute {
    color: #000080;
    font-weight: normal;
  }
  .hljs-regexp,
  .hljs-link {
    color: #009926;
  }
  .hljs-symbol,
  .hljs-bullet {
    color: #990073;
  }
  .hljs-built_in,
  .hljs-builtin-name {
    color: #0086b3;
  }
  .hljs-meta {
    color: #999;
    font-weight: bold;
  }
  .hljs-deletion {
    background: #fdd;
  }
  .hljs-addition {
    background: #dfd;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: bold;
  }
  .code pre,
  .gutter pre {
    margin-bottom: 0;
  }
  .gutter pre {
    padding-right: 20px;
    text-align: right;
  }
  code {
    background: #fafafa;
    padding: 2px;
    border-radius: 3px;
    color: #d05;
    border: 1px solid #ddd;
  }
  .sidebar-container {
    padding: 0;
    margin: 0;
  }
  .sidebar {
    background: #fff;
    padding: 0;
    margin: 20px;
  }
  .sidebar .head {
    height: 200px;
  }
  .sidebar #description {
    display: none;
  }
  .sidebar .head img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 300px;
  }
  .sidebar .nav-clapse {
    display: block;
    margin: 10px;
    padding-bottom: 10px;
  }
  .content-container .content {
    margin: 20px;
    background: #fff;
    padding: 10px;
    border: 1px solid #d8d8d8;
  }
  .content-container .archives .archive-item {
    width: 90%;
    margin: auto;
  }
  .content-container .archives .nav-link:hover {
    background: #eaeaea;
  }
  .content article {
    width: 90%;
    margin: auto;
  }
  .read-more {
    background: #8cc2fb;
    border-radius: 2em;
    padding: 6px;
    color: #fff;
  }
  .read-more:hover {
    text-decoration: none;
    color: #fff;
    background: #5398fb;
  }
  #title {
    color: #000;
  }
  #title:hover {
    text-decoration: none;
    color: #000;
  }
  .content-container footer {
    font-size: 1.25em;
  }
}
